@import url(color.css);
/*
@import url(bootstrap-col-md-xs-lg.css);

*/
body,div,img{
	margin:0px;
	padding:0px;
	border:0px;
}
li{
	list-type-type:none;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 10px;
    margin-bottom: 10px
}
a {
    color: #5A738E;
    text-decoration: none
}
a,
a:visited,
a:focus,
a:active,
:visited,
:focus,
:active{
    outline: 0
}
a:hover,
a:focus {
    text-decoration: none
}

body{
	 overflow-x : hidden;  
     -overflow-y : hidden;  
}
#main-col{
	padding: 0px;
    margin-left: 30px;
    background: #F7F7F7
}
/*
page-title
*/

.page-title {
    width: 100%;
    height: 65px;
    padding: 10px 0
}
.page-title .title_left {
    width: 45%;
    float: left;
    display: block
}
.page-title .title_left h3 {
    margin: 9px 0
}
.page-title .title_right {
    width: 55%;
    float: left;
    display: block
}
.page-title .title_right .pull-right {
    margin: 10px 0
}
/*
x_panel
.example .pp = E F 是后代选择器。
.example.pp2 则是在一个元素上，这个元素包括这两个类才会有效果。
*/
.x_panel {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease
}

h2 {
    font-size: 18px;
    font-weight: 400
}

.fixed_height_320 {
    height: 320px
}
/*
	添加一条白线的方法
*/
.x_title {
    border-bottom: 2px solid #E6E9ED; 
    padding: 1px 5px 6px;
    margin-bottom: 10px
}
.x_title h2 {
    margin: 5px 0 6px;
    float: left;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}
.x_title h2 small {
    margin-left: 10px
}
.x_title span {
    color: #BDBDBD
}
.navbar-right {
    margin-right: 0;
}
.nav> li{
	float:left;
}

.panel_toolbox {
    float: right;
    min-width: 70px
}
/*
fontawesome-icon-list
*/
.fontawesome-icon-list .fa-hover a:hover {
    background-color: #ddd;
    color: #fff;
    text-decoration: none
}
.fontawesome-icon-list .fa-hover a {
    display: block;
    line-height: 32px;
    height: 32px;
    padding-left: 10px;
    border-radius: 4px
}
.fontawesome-icon-list .fa-hover a:hover .fa {
    font-size: 28px;
    vertical-align: -6px
}
.fontawesome-icon-list .fa-hover a .fa {
    width: 32px;
    font-size: 16px;
    display: inline-block;
    text-align: right;
    margin-right: 10px
}

